<h1>結帳</h1>

 <%= render 'carts/cart' %>

<%= simple_form_for @order do |f| %>
  <%= f.input :recipient %>    
  <%= f.input :phone%>
  <%= f.input :address%>
  <%= f.input :note%>
  <%= f.submit '建立訂單'%>
<% end %>
 
